.resCharSVC-banner{
  background-image: url(../images/service6.jpg);
  filter: grayscale(0);
}





.rescharSVC-topsec{
  margin-top: 6rem;
  padding: 0 7rem;
  max-width: 1500px;
}

.rescharSVC-banner2{
  width: 53%;
}

.resTest-banner{
  width: 30%;
}

.reschar-sec{
  margin-top: 0;
  padding: 1rem 7rem;
}

.rescharSVC-item{
  font-size: 1.2em;
  color: #35b416 ;
}

.reschar-bottomSec{
  margin-top: 6rem;
}

.manPower-text b{
  color: #35b416;
}

.rescharSVC-topsec b{
  color: #35b416;
}

.inspec-sec{
  margin-top: 5rem;
  padding: 1rem 5rem;
}

.pipebanner{
  width: 46%;
}





@media screen and (min-width: 900px) {
  .rescharSVC-banner2{
    width: 40%;
  }
}

@media screen and (max-width: 1200px) {
  
.pipebanner{
  width: 50%;
}
}

@media screen and (max-width: 1100px) {
  .rescharSVC-banner2{
    width: 50%;
  }
  .pipebanner{
    width: 55%;
  }
}

@media screen and (max-width: 1000px) {

  .pipebanner{
    width: 60%;
  }
}

@media screen and (max-width: 900px) {
  .reschar-sec, .inspec-sec, .pipingCert-sec{
    padding: 1rem 3rem;
  }
  
.rescharSVC-topsec{
  padding: 0 3rem;
}
  
}

@media screen and (max-width: 850px) {

  .pipebanner{
    width: 65%;
  }
}



@media screen and (max-width: 750px) {
  .rescharSVC-banner2{
    width: 60%;
  }
  .pipebanner{
    width: 70%;
  }
}


@media screen and (max-width: 700px) {

  .pipebanner{
    width: 75%;
  }
}

@media screen and (max-width: 650px) {
  .rescharSVC-banner2{
    width: 70%;
  }
  .pipebanner{
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .pipebanner{
    width: 90%;
  }
}



@media screen and (max-width: 550px) {
  .rescharSVC-banner2{
    width: 75%;
  }
  .pipebanner{
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .reschar-sec, .inspec-sec, .pipingCert-sec{
    padding: 1rem 2rem;
  }
  .rescharSVC-topsec{
    padding: 0 2rem;
  }
  .rescharSVC-banner2{
    width: 95%;
  }
  
}

@media screen and (max-width: 480px) {

  .pipebanner{
    width: 100%;
    height: 6rem;
  }
  .inspec-sec2{
    margin-top: 6rem;
  }
}

@media screen and (max-width: 450px) {
  .rescharSVC-banner3{
    width: 75%;
  }
  .inspec-sec2{
    margin-top: 7rem;
  }
  
}


@media screen and (max-width: 400px) {
  .reschar-sec, .inspec-sec, .pipingCert-sec{
    padding: 1rem;
  }
  .rescharSVC-topsec{
    padding: 1rem;
  }
  
}


@media screen and (max-width: 360px) {
  .rescharSVC-topsec{
    padding: 1rem;
    margin-top: 7rem;
  }
  .rescharSVC-banner2{
    width: 95%;
    height: 5.5rem;
  }
  .rescharSVC-banner3{
    width: 93%;
  }
  .inspec-sec2{
    margin-top: 6rem;
  }
}




