.resChar-section{
  background-color: black;
  margin-top: 3rem;
  padding-top: 2rem;
  justify-content: center;
}

.resChar-section-fade{
  padding-top: 2rem;
  background-color: black;
  margin-top: 3rem;
  justify-content: center;
  opacity: 1;
  animation: fade .3s;
}

@keyframes fade{
  0% {
      opacity: .5;
  }
  100% {
      opacity: 1;
   }
}

.resChar-container{
  width: 100%;
  padding-left: 5rem;
}

.dots{
  display: flex;
  flex-direction: column;
  height: min-content;
  margin-left: .5em;
  margin-top: 10rem;
}

.dots li{
  font-size: 1.5em;
  color: white;
  cursor: pointer;
  transition: all .5s;
}

.dots li:hover{
  color: #35b416;
  
}


.resChar-btn{
  width: max-content;
  font-size: .8em;
  padding: 1rem .5rem;
  border-radius: 10px 0 0 10px;
}

.btnBox{
  width: 17.5rem;
}

.resCharSlide{
  display: flex;
  width: 100%;
  height: 30rem ;
}

.resChar-left{
  width: 25rem;
  padding: 5rem 0 0 0;
}

.resChar-right{
  width: 50%;
  height: 30rem;
  position: absolute;
  right:0;
}

.resChar-right img{
  border-radius:20rem 0 0 20rem ;
  height: 100%;
  width: 100%;
}

.resChar-cap{
  color:#35b416;
  font-weight: 500;
}


.resChar-title{
  color: white;
  font-size: 2em;
  margin-top: 1rem;
}


.resChar-text{
  color: white;
  font-size: .9em;
  font-weight: 500;
  margin-top: 1.5rem;
}

@media screen and (max-width:1100px) {

  .resChar-right{
    display: none;
  }
  .resChar-left{
    width: 80%;
    margin-top: 5rem;
    margin: auto;
    padding:0 0 5rem 0 ;
  }
  .resChar-container{
    padding: 0 
  }
}


@media screen and (max-width:500px) {
  .btnBox{
    width: 14rem;
  }
  .resChar-btn{
    font-size: .6em;
  }

  .resChar-title{
    font-size: 1.5em;
  }
  .resChar-text{
    font-size: .6em;
  }
  
}
